* {
  box-sizing: border-box;
 }
 
/*local navigation bar css*/
ul{
    background-color: #0000FF;
	list-style-type: none;
	overflow: hidden;
    text-align: center;
}

li {
  display: inline;
   float: left; 
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color:grey;
}
.active {
  background-color: beige;
}

/*body css*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url('');
}

#eh1{
	text-align:center;
	font-weight:bold;
	margin:50px;
	font-size:45px;
	
}

.eh2{
	margin-bottom:25px;
	margin-left:40px;
	margin-top:50px;
	border:solid;
	border-radius: 5px;
	padding:15px;
	padding-left:70px;
}

.eimg{
	width: 100%;
    height:300px;	
	object-fit: contain;
	box-shadow: 0 4px 4px 0 ;
	padding: 0 16px;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* zoom in when hovering the products*/ 
.eimg:hover{
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5); 
}

.column1{
  float: left;
  width: 25%;
  padding: 0 10px;
}

/*removing floats after the columns*/
.electronictype:after{
	 content: "";
    display: table;
    clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height:700px;
}

.price {
  color: grey;
  font-size: 22px;
}

.add-btn{

  padding: 12px;
  color: grey;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color:beige;
}

/*zoom buttons css*/
.zoombtn{
	border-radius:75%;
	float:right;
	padding: 15px 25px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	color:white;
	background-color: black;
	font-weight:bold;	
}

.zoombtn:hover{
	background-color:#9370DB;
}

/* form CSS */
.fh2{
	text-align:center;
}

label{
  padding: 12px 12px 12px 50px;
  display: inline-block;
}

.form{
	width:750px;
	height:600px;
	position:relative;
	margin:3% auto;
	background:#DCDCDC;
	padding:5px;
	border-style:solid;
	border-color:black;
	border-width:5px;  
}

#submitbtn{
	width:30%;
	padding:10px 10px;
	cursor:pointer;
	float:right;
	background:black;
	border-radius:30px;
	font-weight:bold;
	color:grey;
}

#submitbtn:hover{
	background-color:beige;
}

input[type=text]{
	width: 300px;
	margin:5px;
    border-bottom:1px solid ;
	padding: 10px ;
	float: right;
	margin-right:170px;
}

#person{
	width:50px;
	height:50px;
	margin:0px 0px 0px 300px ;
}

.details{
	font-size:20px;
}

#tp{
	font-weight:bold;
}

#total{
	font-weight:bold;
	float:left;	
}

#pd{
	font-weight:bold;
	font-size:25px;
	text-align:center;
}

#authorid{
	color:white;
	padding:20px;
	margin:50px;
}
#footer3{
	background-color:black;
}